{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block scripts %}
    <script src="https://d3js.org/d3.v5.js"></script>
    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="{% static 'oTree_HFT_CDA/manifest.json' %}">

    <script src="{% static 'oTree_HFT_CDA/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js' %}"></script>
    <script type="module" src="{% static 'oTree_HFT_CDA/profit-graph/profit-graph.js' %}"></script>
    <script type="module" src="{% static 'oTree_HFT_CDA/info-table/info-table.js' %}"></script>
    <script type="module" src="{% static 'oTree_HFT_CDA/spread-graph/spread-graph.js' %}"></script>
   
<script>
    document.querySelector('info-table').setAttribute("player_id","{{player.id_in_group}}");

</script>


{% endblock %}

{% block content %}
<style>
    .front_end_controller{
        width: 100%;
        height: 100vh;
        background-color: darkgrey;
        margin-top: -80px;
    }
</style>
    <div class="front_end_controller">
        <info-table id="info-table"></info-table>
        <profit-graph></profit-graph>
    </div>
{% endblock %}

